.container {  display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header"
      "Body"
      "Footer";
  }

  body {
    background-color: #FAEBD7;
    }
  
  img {
    object-fit: fill;
  }

  .img img {
    object-fit: fill;
    width:65%;
    height:65%;
    margin-top: 10%;
    margin-left: 10%;
  }

  .Header {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Options Register . Title Title Title . Faqs Carrito Logo";
    grid-area: Header;
  }
  
  .Logo { grid-area: Logo; }
  
  .Carrito { grid-area: Carrito; }
  
  .Faqs { grid-area: Faqs; }
  .Faqs h1{
    text-align: center;
    font-size: 200%;
    margin-top: 25%;
}
  
  .Title { grid-area: Title; }
  .Title h1{
    text-align: center;
    font-size: 300%;
    margin-left: 20%;
}
  .Options { grid-area: Options; 

}
  
  .Register { grid-area: Register;

}
  
  .Footer {  display: grid;
    grid-template-columns: 1.3fr 0.5fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Info . XarxesSocials";
    grid-area: Footer;
  }
  
  .Info { grid-area: Info; }
  
  .XarxesSocials { grid-area: XarxesSocials; }
  
  .Body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: Body;
  }
  
  .Imatge {  display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      "ArrowLeft Img Img ArrowRight"
      "ArrowLeft Img Img ArrowRight"
      ". . . .";
    grid-area: 1 / 1 / 3 / 3;
  }

  .Border {
    border-style: groove;
  }
  
  .button {
    background-color: #FAEBD7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 5vh;
    border-style: groove;
  }

  .Img { grid-area: Img; }
  
  .ArrowLeft { grid-area: ArrowLeft; }
  
  .ArrowRight { grid-area: ArrowRight; }
  
  .Selection {  display: grid;
    grid-template-columns: 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.4fr 0.4fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . ."
      ". Tamany Base Cobertura Decoracion Comprar ."
      ". . . . . . .";
    grid-area: 3 / 1 / 4 / 3;
  }
  
  .Tamany { grid-area: Tamany; }

  .Tamany img {   width:70%;height:70%;border-radius: 50%; }

  .Base { grid-area: Base; }

  .Base img { width:70%;height:70%;border-radius: 50%; }
  
  .Cobertura { grid-area: Cobertura; }

  .Cobertura img { width:70%;height:70%;border-radius: 50%;}
  
  .Decoracion { grid-area: Decoracion; }

  .Decoracion img{ width:70%;height:70%;border-radius: 50%;}
  
  .Comprar { grid-area: Comprar; }

  .Comprar img{ width:50%;height:50%; }
  
  .Specific { grid-area: 1 / 3 / 4 / 4; }
  
  .Opcio1 { grid-area: 1 / 3 / 2 / 4; }

  .Opcio1 img{ width:60%;height:60%; }
  
  .Opcio2 { grid-area: 2 / 3 / 3 / 4; }

  .Opcio2 img{ width:60%;height:60%; }
  
  .Opcio3 { grid-area: 3 / 3 / 4 / 4; }
  
  .Opcio3 img{ width:60%;height:60%; }
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  



  @media only screen and (min-width: 600px) {
    
.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.7fr 0.7fr 1.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header"
    "Img"
    "Class"
    "Specific";
}

.Class { grid-area: Class; }

.Specific {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Opcio1 Opcio2 Opcio3"
    "Opcio1 Opcio2 Opcio3"
    "Opcio1 Opcio2 Opcio3";
  grid-area: Specific;
}

.Opcio1 { grid-area: Opcio1; }

.Opcio2 { grid-area: Opcio2; }

.Opcio3 { grid-area: Opcio3; }

.Img { grid-area: Img; }

.Header {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Options Title Logo"
    "Options Title Logo"
    "Options Title Logo";
  grid-area: Header;
}

.Options { grid-area: Options; }

.Title { grid-area: Title; }

.Logo { grid-area: Logo; }


  }