.container {  display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 0.3fr 2.2fr 1.2fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .Header { grid-area: 1 / 1 / 2 / 3; }
  
  .Footer { grid-area: 4 / 1 / 5 / 3; }
  
  .cosPrincipal { grid-area: 2 / 1 / 3 / 3; }
  
  .seccioInferior {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "html1 html1 web"
      "html2 audio web";
    grid-area: 3 / 1 / 4 / 3;
  }
  
  .html1 { grid-area: html1; }
  
  .html2 { grid-area: html2; }
  
  .audio { grid-area: audio; }
  
  .web { grid-area: web; }
  
  .esquerra {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "slideshow"
      "titol"
      "paragraf"
      "video";
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .slideshow { grid-area: slideshow; }
  
  .titol { grid-area: titol; }
  
  .paragraf { grid-area: paragraf; }
  
  .video { grid-area: video; }
  
  .dreta {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "caixa1"
      "caixa2"
      "caixa3";
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .caixa1 { grid-area: caixa1; }
  
  .caixa2 { grid-area: caixa2; }
  
  .caixa3 { grid-area: caixa3; }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  
  /* For presentation only, no need to copy the code below */
  
  .container * {
    border: 1px solid red;
    position: relative;
  }
  
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }